.text-multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.clickable{
    cursor: pointer;
    user-select: none;
}

.favourite-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}