<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/custom.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/base.css') }}"
    />

    <title>Mini-TMDb</title>
  </head>
  <body class="h-100 d-flex flex-column">
    <header>
      <nav
        class="navbar navbar-expand bg-body-tertiary"
        style="padding-left: 10%; height: 60px"
      >
        <a class="navbar-brand px-3" href="/">Mini-TMDb</a>
        <div class="navbar-nav">
          <a class="nav-link" href="/">Discovery</a>
          <a class="nav-link" href="/search">Search</a>
          <a class="nav-link" id="navFavourite" href="#">Favourite</a>
        </div>
      </nav>
    </header>
    <main class="flex-grow-1">{% block content %} {% endblock %}</main>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    {% block script %} {% endblock %}
  </body>
</html>
